* {
    margin: 0 auto;
    text-align: center;
    
}


.container {
    
    height: 90vh;
}


footer {
    background-color: black;
    height: 10vh;
    color: white;
}

p {
    padding: 3em  2em ;
}